.off-canvas-appear {
  animation: clearOpa 0.4s ease 0s 1 normal forwards;
}

.off-canvas-content-appear {
  animation: translateSide 0.4s ease 0s 1 normal forwards;
}
.switch-menu {
  animation: clearOpa 0.8s ease 0s 1 normal forwards;
}
.scroll-animation {
  animation: scrollAnimation 5.3s linear 0s infinite normal forwards;
}

@keyframes clearOpa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translateSide {
  0% {
    transform: translateX(480px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes scrollAnimation {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  0.5% {
    opacity: 1;
  }
  100% {
    transform: translateX(500px);
  }
}

@keyframes showUpImg {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes toRight {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes toRightText {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }
  20% {
    opacity: 0;
    transform: translateX(-70px);
  }
  40% {
    opacity: 0;
    transform: translateX(-70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes toRightButton {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }
  20% {
    opacity: 0;
    transform: translateX(-70px);
  }
  40% {
    opacity: 0;
    transform: translateX(-70px);
  }
  50% {
    opacity: 0;
    transform: translateX(-70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes toLeft {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes toLeftText {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }
  20% {
    opacity: 0;
    transform: translateX(70px);
  }
  40% {
    opacity: 0;
    transform: translateX(70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes toLeftButton {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }
  20% {
    opacity: 0;
    transform: translateX(70px);
  }
  40% {
    opacity: 0;
    transform: translateX(70px);
  }
  50% {
    opacity: 0;
    transform: translateX(70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes mobileAnimation {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  20% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes desktopAnimation {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }
  20% {
    opacity: 0;
    transform: translateX(70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.scale-up-img {
  animation: showUpImg 0.5s linear 0s 1 normal forwards;
}
.move-to-right-title {
  animation: toRight 0.5s linear 0s 1 normal forwards;
}
.move-to-right-text {
  animation: toRightText 0.7s linear 0s 1 normal forwards;
}
.move-to-right-btn {
  animation: toRightButton 1s linear 0s 1 normal forwards;
}

.move-to-left-title {
  animation: toLeft 0.5s linear 0s 1 normal forwards;
}
.move-to-left-text {
  animation: toLeftText 0.7s linear 0s 1 normal forwards;
}
.move-to-left-btn {
  animation: toLeftButton 1s linear 0s 1 normal forwards;
}

.how-to-item-1 {
  animation: mobileAnimation 0.8s linear 0.8s 1 normal forwards;
}
.how-to-item-2 {
  animation: mobileAnimation 0.8s linear 0.8s 1 normal forwards;
}
.how-to-item-3 {
  animation: mobileAnimation 0.8s linear 0.8s 1 normal forwards;
}
.how-to-item-4 {
  animation: mobileAnimation 0.8s linear 0.8s 1 normal forwards;
}
.how-to-item-5 {
  animation: mobileAnimation 0.8s linear 0.8s 1 normal forwards;
}
