@media all and (min-width: 576px) {
  .title-off-canvas {
    font-size: 2.2vw !important;
  }
  .intro-title {
    font-size: 6.5vw;
  }
  .sub-logo-footer {
    padding: 20px 0px 20px 250px;
    text-align: justify;
  }
}

@media all and (min-width: 768px) {
  .intro-title {
    font-weight: 800;
  }
  .button-container {
    width: 70% !important;
  }
  .m-item-img {
    width: 30%;
    max-height: 130px !important;
  }
  .m-item-desc {
    width: 70%;
    padding: 10px;
  }
  .menu-img-rounded {
    width: 100% !important;
    height: 100% !important;
    max-height: 135px !important;
    object-fit: contain;
  }
  .item-desc-p {
    padding: 20px 5px 20px 0px !important;
  }
  .first-pt-desc .title-menu,
  .first-pt-desc > p {
    width: 50%;
  }
  .first-pt-desc > p {
    text-align: end;
  }
}
@media all and (min-width: 992px) {
  .intro-title {
    font-weight: 900;
    font-size: 10vw;
    text-align: center;
    margin: 60px 0px 27px !important;
  }
  .intro-p {
    text-align: justify;
  }
  .intro-links {
    justify-content: flex-start;
  }
  .title-off-canvas {
    font-size: 1.5rem !important;
  }
  .section-padding {
    padding: 70px 43px !important;
  }
  .special-section-padding {
    padding: 105px 40px !important;
  }
  .intro-title {
    font-size: 3.1rem;
    text-align: right;
  }
  .intro-link-padding {
    font-size: 1rem !important;
  }
  .intro-section .half-width-content {
    padding: 0px 0px;
  }
  .fresh-product-style .half-width-content {
    padding: 70px 0px;
  }
  .suport-text {
    font-size: 3.5rem !important;
  }
  .footer-content {
    width: 50% !important;
  }
  .sub-logo-footer {
    padding: 20px 0px 20px 200px;
    text-align: justify;
    font-size: 1.06rem;
  }
  .m-top-lg {
    margin-top: 50px !important;
  }
  .padd-top {
    padding-top: 84px;
  }
  .title-how {
    font-size: 1.4rem !important;
  }
  .guide-title-margin {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
  }
  .dot-border {
    width: 85%;
    border-right: none;
    border-top: 2px dotted #d1cdcd;
  }
  .sub-intro-text {
    width: 40%;
  }
  .m-item-img {
    width: 30%;
  }
  .m-item-desc {
    width: 70%;
  }
  .item-desc-p {
    padding: 20px 8px 20px 0px !important;
  }
}
@media all and (min-width: 1200px) {
}
@media all and (min-width: 1400px) {
}
