@media all and (min-width: 576px) {
  .title-off-canvas {
    font-size: 2.2vw !important;
  }
  .intro-title {
    font-size: 6.5vw;
  }
}

@media all and (min-width: 768px) {
}
@media all and (min-width: 992px) {
  .title-off-canvas {
    font-size: 1.5rem !important;
  }
  .section-padding {
    padding: 70px 43px !important;
  }
  .special-section-padding {
    padding: 105px 40px !important;
  }

  .intro-title {
    font-size: 3.1rem;
    text-align: right;
  }
  .intro-link-padding {
    font-size: 1rem !important;
  }
  .intro-section .half-width-content {
    padding: 0px 0px;
  }
  .fresh-product-style .half-width-content {
    padding: 70px 0px;
  }
  .suport-text {
    font-size: 4.5rem !important;
  }
}
@media all and (min-width: 1200px) {
}
@media all and (min-width: 1400px) {
}
