@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
  text-decoration: none !important;
  font-family: "Noto Sans Arabic", sans-serif;
}
.header-back-img {
  background-image: url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa36d5976b5d3_Banner%20Wave.svg");
  background-repeat: none;
  background-position: center center;
  background-size: contain;
  font-weight: 400;
  color: #d6f1f2;
  cursor: default;
  padding: 11px 0px;
}
.header-back-img a {
  cursor: pointer;
}
.logo-style {
  height: 4vw;
  min-height: 45px;
  max-height: 51.5px;
}
a.nav-link {
  font-weight: 500;
  font-size: 0.96rem;
  transition: all 0.4s;
}
.selected-link {
  color: #35b8be !important;
}
.dark-text {
  color: #5a576d;
}
button.button-padd {
  align-self: center;
  padding: 12px 17px;
}
button.button-padd:nth-of-type(2) {
  padding: 14px 13px;
}
button.patern-theme {
  background-image: url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3345876b5c4_Button%20Wave.svg");
}
.gray-btn {
  background: #eaeff1 !important;
}
.bars {
  background-color: rgb(53, 53, 53);
  height: 3px !important;
  width: 25px;
  border-radius: 20px;
  transition: all 0.45s;
}
.middle-bar {
  margin: 5px 0px;
}
.toggled-bar:nth-child(1) {
  transform: translate(0px, 7.5px) rotate(-45deg);
  background-color: #fff !important;
}
.toggled-bar:nth-child(2) {
  transform: translate(-50px, 0px);
  background-color: #fff !important;
}
.toggled-bar:nth-child(3) {
  transform: translate(0px, -8px) rotate(45deg);
  background-color: #fff !important;
}
.p-side {
  padding-right: 15px !important;
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}
.sub-box-shadow {
  box-shadow: 0 50px 80px -30px rgba(53, 52, 72, 0.2);
  transition: all 0.5s ease-in;
  transform: translateY(0px);
  height: max-content !important;
}
.out-of-view {
  transform: translateY(-500px);
}
.theme-bg {
  background-color: #35b8be !important;
}
.container-pos {
  right: 0px;
  top: 74px;
  height: 100vh;
}
