@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
  list-style-type: none;
  text-decoration: none !important;
  font-family: "Noto Sans Arabic", sans-serif;
}
.header-back-img {
  background-image: url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa36d5976b5d3_Banner%20Wave.svg");
  background-repeat: none;
  background-position: center center;
  background-size: contain;
  font-weight: 400;
  color: #d6f1f2;
  cursor: default;
  padding: 11px 0px;
}
.header-back-img a {
  cursor: pointer;
}
.logo-style {
  height: 4vw;
  min-height: 45px;
  max-height: 51.5px;
}
a.nav-link {
  font-weight: 500;
  font-size: 0.96rem;
  transition: all 0.4s;
}
.selected-link {
  color: #35b8be !important;
}
.dark-text {
  color: #5a576d;
}
button.button-padd {
  align-self: center;
  padding: 12px 17px;
}
button.button-padd:nth-of-type(2) {
  padding: 14px 13px;
}
button.patern-theme {
  background-image: url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3345876b5c4_Button%20Wave.svg");
}
.gray-btn {
  background: #eaeff1 !important;
}
.bars {
  background-color: rgb(53, 53, 53);
  height: 3px !important;
  width: 25px;
  border-radius: 20px;
  transition: all 0.45s;
}
.middle-bar {
  margin: 5px 0px;
}
.toggled-bar:nth-child(1) {
  transform: translate(0px, 7.5px) rotate(-45deg);
  background-color: #fff !important;
}
.toggled-bar:nth-child(2) {
  transform: translate(-50px, 0px);
  background-color: #fff !important;
}
.toggled-bar:nth-child(3) {
  transform: translate(0px, -8px) rotate(45deg);
  background-color: #fff !important;
}
.p-side {
  padding-right: 15px !important;
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}
.sub-box-shadow {
  box-shadow: 0 50px 80px -30px rgba(53, 52, 72, 0.2);
  transition: all 0.5s ease-in;
  transform: translateY(0px);
  height: max-content !important;
}
.out-of-view-container {
  height: 0px !important;
  transition: none;
}
.height-grow {
  height: 100vh !important;
}
.out-of-view {
  transform: translateY(-500px);
}
.theme-bg {
  background-color: #35b8be !important;
}
.theme-color {
  color: #35b8be !important;
}
.container-pos {
  right: 0px;
  top: 74px;
  height: 100vh;
}
span.cart-pos {
  top: -6px !important;
  right: -6px;
  box-shadow: rgba(56, 56, 56, 0.425) 0px 1px 5px;
}
.off-canvas-container {
  width: 100%;
  height: 100vh;
  top: 0px;
  right: 0px;
  background-color: #33333360;
  transition: all 0.3s;
}
.off-canvas {
  width: 100%;
  max-width: 480px;
  height: 100%;
  transition: all 0.3s;
}
.off-canvas h2 {
  font-weight: 700;
  color: #1f1f1f;
}
.off-canvas-header {
  padding: 10px 10px 10px 0px !important;
}
.title-off-canvas {
  font-size: 5vw !important;
}
.close-style {
  font-size: 1.5rem !important;
  color: #4b4b4b !important;
}
.off-canvas-content {
  height: 100%;
}
.btn-start-style {
  background: #36b7bd !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: 600 !important;
  font-size: 1.12rem !important;
  background-image: url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3345876b5c4_Button%20Wave.svg") !important;
  background-position: center center !important;
  background-size: cover !important;
}
.empty-p {
  font-size: 1.1rem;
  font-weight: 400 !important;
}
.section-padding {
  padding: 20px 13px !important;
}
.intro-section {
  background: transparent
    url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3306c76b60a_BG%20Shape.svg")
    no-repeat right top !important;
  background-size: cover;
}
.half-width-content {
  width: 100%;
}
.theme-color {
  color: #35b8be !important;
}
.intro-title {
  font-weight: 700;
  font-size: 10vw;
  text-align: center;
  margin: 20px 0px !important;
}
.intro-p {
  color: #546285 !important;
  font-size: 1.04rem;
  font-weight: 400;
  text-align: justify;
  line-height: 1.5rem;
}
.intro-link-padding {
  display: inline-block;
  padding: 15px 15px !important;
  font-size: 0.9rem !important;
  font-weight: 700 !important;
  transition: all 0.4s;
  background-image: url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3345876b5c4_Button%20Wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}
.fresh-product-style {
  background: transparent
    url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3b4c076b5ee_BG%20Shape%20Content.svg")
    no-repeat center center;
  background-size: cover;
}
.intro-section .half-width-content {
  padding: 15px 0px;
}
.fresh-product-style .half-width-content {
  padding: 15px 0px;
}
.how-it-works-section {
  background: transparent url();
}
.special-section-padding {
  padding: 20px 15px !important;
}
.below-full {
  width: 100% !important;
}
.dots-bg {
  background-image: url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3a0b276b5f7_Pattern%2001.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}
.suport-text {
  font-size: 8.04vw !important;
  font-weight: bolder;
}
.suport-text span {
  color: #1b9097;
}
.last-section-part {
  min-height: 250px;
  height: 85vw;
  max-height: 550px;
}
.last-section-part:nth-of-type(2) {
  background: url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3710276b5d2_Group%20Photo.png")
    no-repeat center center;
  background-size: cover;
}
.order-btn-submit {
  font-weight: 600 !important;
  padding: 12px 18px !important;
}
.footer-style {
  background: transparent
    url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa326ac76b5fe_Pattern%20Footer.svg")
    no-repeat bottom left;
  background-size: contain;
  padding: 100px 11px 50px;
}
.footer-logo {
  height: 18vw;
  min-height: 40px;
  max-height: 50px;
}
.footer-nav-title {
  font-size: 1.2rem !important;
  font-weight: 600;
}
.nav-link-padd {
  padding: 6px 0px !important;
  font-size: 0.8rem;
  font-weight: 500 !important;
}
.sub-logo-footer {
  color: #9aa4b9 !important;
  font-size: 4.5vw;
  font-weight: 500;
  padding: 20px 0px 20px 70px;
  text-align: justify;
  line-height: 1.8rem;
}
.icon-style {
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  transition: all 0.3s;
}
.padd-top {
  padding-top: 40px;
}
